@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.bg-topography {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: url('../public/topography.png');
  -o-object-fit: cover;
     object-fit: cover;
  background-attachment: fixed;
  animation: fadeIn ease 5s;
  z-index: -1;
}

@media screen and (max-width: 740px) {
  #container {
    max-width: calc(100vw - 40px);
  }
}

#container {
  width: 475px;
}

@keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}

#job {
  display: inline-block;
  position: relative;
  text-decoration: none;
}

#job::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  transform-origin: bottom right;
  height: 1.5px;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  transition: transform 0.25s ease-out;
}

#job:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#links a {
  transition: .3s;
}

.wait {

}

.loading-in {
  
}

.loaded {
  opacity: 1;
}