@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --color-2: #FFF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.bg-topography {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: url('../public/topography.png');
  -o-object-fit: cover;
     object-fit: cover;
  background-attachment: fixed;
  animation: fadeIn ease 5s;
  z-index: -1;
}

/* Title and Links */

#ansys {
  display: inline-block;
  position: relative;
  color:  #FFB71B;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

#ansys::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color:  #FFB71B;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

#ansys:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#geotab {
  display: inline-block;
  position: relative;
  color: #0078D3;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

#geotab::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0078D3;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

#geotab:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Media Links */

.medialink {
  width: 1.5rem;
  height: 1.5rem;
  transition: transform ease-in-out .1s;
}

.medialink:hover {
  cursor: pointer;
  transform: scale(1.15);
}

.medialink svg {
  fill: var(--color-2);
}


/* Timeline */

.timeline-start {
  width: 50px;
  height: 2px;
  background-color: var(--color-2);
  background: linear-gradient(to right, transparent, var(--color-2));
  border-radius: 9999px;
}

.timeline-mid {
  width: 75px;
  height: 2px;
  background-color: var(--color-2);
  border-radius: 9999px;
}

.timeline-start + div img, 
.timeline-mid + div img {
  position: relative;
  top: 22px;
  width: 60px;
  transition: transform ease-in-out .1s;
  scale: 16;
}

.timeline-start + div img:hover, 
.timeline-mid + div img:hover {
  cursor: pointer;
  transform: scale(1.15);
}

.timeline-end {
  width: 20px;
  height: 2px;
  background-color: var(--color-2);
  border-radius: 9999px;
}


/* #about, #skills, #work {
  animation: fadeIn ease 2s;
} */

@keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}