@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.bg-topography {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: url('../public/alvx-wallpaper.jpg');
  background-size: cover;
  filter: brightness(0.4) blur(1.5px);
  background-attachment: fixed;
  z-index: 1;
}

@media screen and (max-width: 740px) {
  #container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: calc(100vw - 40px);
  }
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  z-index: 2;
}

@keyframes fadeIn1 {
  0% { opacity:0; }
  20% { opacity:0; }
  40% { opacity:0; }
  60% { opacity:1; }
  80% { opacity:1; }
  100% { opacity:1; }
} 

@keyframes fadeIn2 {
  0% { opacity:0; }
  20% { opacity:0; }
  40% { opacity:0; }
  60% { opacity:0; }
  80% { opacity:1; }
  100% { opacity:1; }
} 

#about {
  animation: fadeIn1 6s ease-in-out;
}

#links {
  animation: fadeIn2 6s ease-in-out;
}

#job {
  display: inline-block;
  position: relative;
  text-decoration: none;
}

#job::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  transform-origin: bottom right;
  height: 1.5px;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  transition: transform 0.25s ease-out;
}

#job:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#links a {
  transition: .3s;
}

@media screen and (max-width: 740px) {
  #red-button {
    display: none;
  }
}

#red-button {
  position: absolute;
  bottom: 15px;
  left: 15px;  
  cursor: pointer;
  z-index: 2;
}

#ccd {
  display: none;
  position: absolute;
  height: 100vh;
  z-index: 3;
}